<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>TV Shows Manager :: {% block title %}{% endblock %}</title>

    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
{% stylesheets '@bootstrap_css' '@jquery_css' combine=false %}
    <link type="text/css" href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}

{% javascripts '@jquery_js' '@bootstrap_js' combine=false %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascript %}
{% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="nephre" />
    <meta name="description" content="TV Shows Manager - keep track of your favorite TV shows" />
{% endblock %}
</head>

<body>
{% block body %}
    <div class="container">
        <div id="navigation">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('merlin_tv_shows_homepage') }}">TV Shows Manager</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('merlin_tv_shows_homepage') }}">Shows</a></li>
                        <li><a href="{{ path('shows_add') }}">Add show</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>

        <div id="content">
{% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% javascripts '@jquery_js' '@bootstrap_js' combine=false %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts%}
</body>
</html>
