{% extends 'MerlinTvShowsBundle::layout.html.twig' %}
{% block title %}Main{% endblock %}
{% block javascript %}
{% javascripts '@list_shows_js' combine=false %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List of TV series you watch</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="searchProvider" class="col-xs-3 col-md-2 control-label">Search provider</label>
                    <div class="col-xs-4">
                        <select id="searchProvider" class="form-control">
                        {% for provider in providers %}
                            <option value="{{ provider.name }}">{{ provider.description}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Season</th>
                    <th>Episode</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for show in shows %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ show.title }}</td>
                        <td>{{ show.season }}</td>
                        <td>{{ show.episode }}</td>
                        <td>
                            <a href="{{ path('shows_search', { 'id' : show.id, 'provider' : null }) }}" class="searchShow" title="Search on thepiratebay">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                            {% if show.episode > 1 %}<a href="{{ path('shows_episode', { 'id'  : show.id, 'mode' : 'previous' }) }}" class="previousEpisode" title="Previous episode">{% endif %}
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            {% if show.episode > 1 %}</a>{% endif %}
                            <a href="{{ path('shows_episode', { 'id'  : show.id, 'mode' : 'next' }) }}" class="nextEpisode" title="Next episode">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <a href="{{ path('shows_edit', { 'id' : show.id }) }}" class="editShow" title="Edit details">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ path('shows_delete', { 'id' : show.id }) }}" class="deleteShow" title="Remove from tracked shows">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div
{% endblock %}
